---
title: Home
layout: default
---

<div class="bio">
  <div class="container">
    <div class="row">
    
   
        <h1 class="bio-title">{{ site.title }}</h1>
        <p class="bio-subtitle">{{ site.subtitle }}</p>
    </div>
    </div>
</div>



<!--- Current latest posts -->
<div class="container mt-4 mb-4">
  <h2 class="latest-posts-title">Latest Posts</h2>
{% for post in site.posts %}
  <div class="row latest-post-row mt-4">
    <div class="col-lg-9 col-md-8 order-2 order-sm-2 order-md-1"><a class="post-link" href="{{ post.url }}"><h3>{{ post.title }}</h3></a> 
    {{ post.date | date: "%-d %B %Y" }} <br />
{{ post.excerpt | truncate: 240 }}</div>
    <div class="col-lg-3 col-md-4 order-1 order-sm-1 order-md-2 post-thumbnail-container"><a href="{{ post.url }}"><img class="post-thumbnail" src="{{ post.image }}" alt="thumbnail of {{ post.title }}"/></a></div>
  </div>
{% endfor %}

<div class="d-flex justify-content-center mb-4 mt-4">
<a class="primary-button" href="/posts">More Posts</a>
</div>

</div>

<!-- Pagination links -->

<!--
<div class="container w-50 mt-4">
  
<h2 class="latest-posts-title">Latest Posts</h2>

  {% for post in site.posts %}
    

  <div class="row post-block">

    <div>
  <a class="post-link" href={{ post.url }}><h3>{{ post.title }}</h3></a>
{{ post.date | date: "%-d %B %Y" }} <br />
{{ post.excerpt | truncate: 240 }}
</div>
</div>

  {% endfor %}
</div>
-->